<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/pharmacy</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">Admin123#</property>
    <mapping class="com.pharmacy.article.Article" />
    <mapping class="com.pharmacy.article.Pharmacy" />
    <mapping class="com.pharmacy.article.Price" />
    <mapping class="com.pharmacy.category.Category" />
    <mapping class="com.pharmacy.csv.CSVFormat" />
    <mapping class="com.pharmacy.evaluation.Evaluation" />
    <mapping class="com.pharmacy.user.Address" />
    <mapping class="com.pharmacy.user.User" />
    <mapping class="com.pharmacy.wishlist.Wishlist" />
    <mapping class="com.pharmacy.user.UserRole" />
    <mapping class="com.pharmacy.user.Account" />
  </session-factory>
</hibernate-configuration>
